body{ 
	text-align: center;
	font-size: 50px;
    
<span style=color:blue>p</span>
<span style=color:red>u</span>
<span style=color:green>r</span>
<span style=color:yellow>n</span>
<span style=color:black>a</span>

}

