.single{
	font-size: 150px;
	text-align: center;
	padding: 200px;
}
   .single span:nth-of-type(1){
		color: blue;
   }
    .single span:nth-of-type(2){
		color: green;
   }
    .single span:nth-of-type(3){
		color: red;
   }
    .single span:nth-of-type(4){
		color: yellow;
   }
    .single span:nth-of-type(5){
		color: maroon;
   }
	

